*,html{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

li{
    list-style: none;
}

body {
    color: rgb(255, 255, 255);
    position: relative;
}

.landing-page {
    background: linear-gradient(to top, #003e21d2 0% 5%, rgb(2, 46, 36));
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page-background {
    position: absolute;
    background-image: url(Poster.webp);
    filter: blur(4px);
    mix-blend-mode: overlay;
    opacity: 0.3;
    height: 100%;
    width: 100vw;
    background-size: cover;
    align-items: start;
    background-position: center;
    z-index: 1;
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    height: fit-content;
    width: 100vw;
    gap: 5vw;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 3;
}

.nav-container {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        margin-top: .5%;
        margin-bottom: .5%;
        gap: 4vw;
        width: 74vw;
        margin-right: 3vw;
}

.logo {
    width: 12vw;
    justify-content: left;
    align-items: center;
    margin-left: 3vw;
}

.nav-link {
    display: flex;
    width: fit-content;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: right;
    text-decoration: none;
    opacity: 1;
    color: #ffffff;
    white-space: nowrap;
    transition-delay: 0.1s;
    border-radius: 50px;
    font-size: calc(.8em + .6vw);
    padding-inline: 3vw;
    padding-top: .8em;
    padding-bottom: .8em;

    background-color: #2f2e2a62;
    backdrop-filter: blur(5px);
    border-top: 0.11em solid #ffffff;
    border-left: 0.11em solid #ffffff;
    box-shadow: .2em .2em .5em 0 #00000044;
    transition: all 0.4s ease-out;
}

@media (max-width: 900px) {
    .nav-link {
        font-size: 16px; 
        padding-inline: 14px; 
    }
    .nav-container{
        gap: 10px;
        transform: translateX(0%);
    }
}

@media (max-width: 625px) {
    .nav-link {
        font-size: 16px; 
        padding-inline: 14px; 
    }
    .nav-container{
        gap: 8px;
        transform: scale(0.7) translateX(21%);
    }
}

@media (max-width: 430px) {
    .nav-link {
        font-size: 12px; 
        padding-inline: 10px; 
    }
    .nav-container{
        gap: 10px;
        transform: scale(0.6) translateX(26%);
        justify-content: right;
        margin-right: 1vw;
    }
}

.nav-link:hover, .nav-link.nav-link.active-scroll {
    background-color: #65ffde9d;
    cursor: pointer;
    width: fit-content;
    color: rgb(0, 0, 0);
    border-top: .11em solid #dddddd;
    border-left: .11em solid #dddddd;
    padding-inline: 3.5vw;
}

.landing-page-content {
    position: relative;
    z-index: 2;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 80vh;
    width: 100vw;
    text-align: center;
}

.landing-page-photo {
    display: block;
    flex-shrink: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: calc(10em + 10vw);
    grid-area: 1 / 1;
}

.iraone{
    position: absolute;
    color: beige;
    z-index: -1;
    font-size: 22vmin;
    filter: blur(1vmin);
    grid-area: 1 / 1;
    top: 120px;
    align-self: center;
}

h1 {
    text-align: center;
    font-size: 7vmin;
    color: #2f2e2a;
    background-color: beige;
    width: 100vw;
}
p {
    text-align: center;
    margin-top: 1vw;
    font-size: 3.3vmin;
    color: beige;
}

.about-me-page  {
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 0, 15);
    background: linear-gradient(to bottom, #003e21d2, rgb(2, 46, 36));
    position: relative;
    align-content: center;
    justify-items: start;
    height: fit-content;
    width: 100%;
    gap: clamp(10px, 10vh, 1000px);
    padding-bottom: 10vh;
    padding-top: 15vh;
    overflow: hidden;
    margin-top: 0;
    border-left: transparent;
    border-right: transparent;
    z-index: -2;
}

.about-me-container{
    display: flex;
    flex-direction: column;
    gap: 3vw;
    height: fit-content;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
}

.box1{
    font-size: 15vmin;
    align-self: center;
    white-space: nowrap;
    color: beige;
}

.box2{
    font-size: calc(.5em + 1vw);
    align-self: self-start;
    color: beige;
    width: 90vw;
    white-space: wrap;
    text-align: justify;
}

.bento-aboutme{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-auto-rows: 10em 10em;
    position: relative;
    height: fit-content;
    gap: 3em;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-areas: 
    "box1-bento box2-bento box2-bento box3-bento"
    "box4-bento box4-bento box5-bento box5-bento";
}

@media (max-width: 600px) {
  .bento-aboutme {
    grid-template-columns: repeat(2, 45%);
    height: auto;
    grid-auto-rows: 10em 10em 10em 10em;
    grid-template-areas: 
    "box2-bento box2-bento"
    "box1-bento box3-bento"
    "box4-bento box4-bento"
    "box5-bento box5-bento";
  }
}

.bento-box1, .bento-box2, .bento-box3, .bento-box4, .bento-box5{
    position: relative;
    list-style: none;
    align-content: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    transition: all 0.1s ease-out;
    background: linear-gradient(to top, #1f7758 0% 5%, #33322d);
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.bento-box1::after, .bento-box2::after, .bento-box3::after, .bento-box4::after, .bento-box5::after,
.bento-box1::before, .bento-box2::before, .bento-box3::before, .bento-box4::before,  .bento-box5::before{
    content: "";
    position: absolute;
    
    inset: -4px; 
    
    border-radius: inherit; 
    
    background-image: conic-gradient(from var(--angle), transparent 40%, rgb(57, 255, 206));
    z-index: -1;
    animation: spin 8s linear infinite;
}

.bento-box1::after, .bento-box2::after, .bento-box3::after, .bento-box4::after, .bento-box5::after{
    filter: blur();
}

.bento-box1::before, .bento-box2::before, .bento-box3::before, .bento-box4::before, .bento-box5::before{
    filter: blur(15px);
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.bento-box1 li{
    font-size: calc(1em + 1vw);
    white-space: nowrap;
    color: beige;
}

.bento-box2 li{
    font-size: calc(1em + 1vw);
    white-space: nowrap;
    color: beige;
}

.bento-box3 li{
    font-size: calc(1em + 1vw);
    white-space: nowrap;
    color: beige;
}

.bento-box4 li{
    font-size: calc(1em + 1vw);
    white-space: nowrap;
    color: beige;
}

.bento-box5 li{
    font-size: calc(1em + 1vw);
    white-space: nowrap;
    color: beige;
}

.portfolio-page{
    background: linear-gradient(to top,#003e21d2, rgb(2, 46, 36));
    height: fit-content;
    width: 100%;
    gap: 15vh;
    overflow: hidden;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    display: flex;
    font-size: 8vw;
    color: beige;
    font-weight: 900;
    letter-spacing: .5vw;
    justify-content: center;
    margin-top: 17vh;
}

.portfolio-poster{
    display: flex;
    position: relative;
    height: fit-content;
}

.poster-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    width: 90vw;
    padding: 1vw;
    gap: 1em;
    border-radius: 30px;
    background-color: rgb(255, 235, 205);
    box-shadow: 0 0 1em rgb(255, 235, 205);
}

.poster-container::before{
    backdrop-filter: blur(1em);
}

.posters-text{
    color: #2F2E2A;
    list-style: none;
    font-size: calc(3vh + 3vw);
    font-weight: 800;
    align-self: center;
}

.poster-scroll-1, .poster-scroll-2{
    display: flex;
    height: fit-content;
    border-radius: 30px;
    overflow-x: auto;
    user-select: none;
    border: #2f2e2a solid .2em;
}

.group-1, .group-2{
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: scroll-left 15s linear infinite;
    margin-right: 1em;
}

.group-2{
    animation: scroll-right 15s linear infinite;
}

.poster{
    flex-shrink: 0;
    flex-grow: 0;
    width: calc(8em + 6vw);
    min-width: 20vh;
    border-radius: 15px;
    box-shadow: 0 0 .5em 0 #00000044;
}

@keyframes  scroll-left{
    to{transform: translateX(-100%);}
}

.portfolio-logo{
    position: relative;
    display: flex;
    flex-wrap:  wrap;
    height: fit-content;
    width: 90vw;
    justify-content: space-between;
}

.logo-text{
    color: blanchedalmond;
    list-style: none;
    align-self: center;
    font-size: calc(5vw + 1vh);
    font-weight: 900;
    margin-right: 3vw;
    margin-bottom: 2vh;
}

.logo-container{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 65vw;
    padding: 1vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    z-index: 1;
    background-color: rgb(255, 235, 205);
    box-shadow: 0 0 1em rgb(255, 235, 205);
}

.logo-scroll{
    display: flex;
    overflow-x: auto;
    user-select: none;
    width: 100%;
}

.logo-group{
    display: flex;
    flex-direction: row-reverse;
    height: calc(4vh + 5vw);
    gap: 8vw;
    animation: scroll-right 15s linear infinite;
    padding-right: 8vw;
}

.logo-card{
    height: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.portfolio-photo{
    position: relative;
    display: flex;
    height: fit-content;
}

.photo-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    width: 90vw;
    gap: 1vh;
    padding: 1vw;
    border-radius: 30px;
    background-color: rgb(255, 235, 205);
    box-shadow: 0 0 1em rgb(255, 235, 205);
}

.photo-text{
    color: #2F2E2A;
    list-style: none;
    font-size: calc(3vh + 3vw);
    font-weight: 800;
    align-self: center;
}

.photo-scroll{
    display: flex;
    height: fit-content;
    border-radius: 30px;
    overflow-x: auto;
    user-select: none;
    border: #2f2e2a solid .2em;
}

.photo-group{
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: scroll-left 20s linear infinite;
    margin-right: 1em;
}

.photo{
    flex-shrink: 0;
    flex-grow: 0;
    width: calc(10em + 6vw);
    min-width: 20vh;
    border-radius: 15px;
    height: 100%;
    box-shadow: 0 0 .5em 0 #00000044;
}

.portfolio-feed{
    height: fit-content;
}

.feed-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    width: 90vw;
    gap: 1vh;
    padding: 1vw;
    border-radius: 30px;
    background-color: rgb(255, 235, 205);
    box-shadow: 0 0 1em rgb(255, 235, 205);
}

.feed-container::before{
    backdrop-filter: blur(1em);
}

.feed-text{
    color: #2F2E2A;
    list-style: none;
    font-size: calc(3vh + 3vw);
    font-weight: 800;
    align-self: center;
}

.feed-scroll{
    display: flex;
    height: 80%;
    border-radius: 30px;
    overflow-x: auto;
    user-select: none;
    border: #2f2e2a solid .2em;
}

.feed-group{
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: scroll-right 15s linear infinite;
    margin-right: 1em;
}

.feed{
    flex-shrink: 0;
    flex-grow: 0;
    width: calc(10em + 6vw);
    min-width: 20vh;
    border-radius: 15px;
    height: 100%;
    box-shadow: 0 0 .5em 0 #00000044;
}

.memorable-moments{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 90vw;
    gap: 15vh;
    padding-bottom: 4vh;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    z-index: 1;
}

.memorable-moments li{
    font-size: calc(7vw + 1vh);
    color: beige;
    margin: .5em;
}

.moments-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: 90vw;
    gap: 2vh;
    padding: 1vw;
    border-radius: 30px;
    background-color: rgb(255, 235, 205);
    box-shadow: 0 0 1em rgb(255, 235, 205);
}

.moments-container li{
    font-size: calc(3vh + 3vw);
    color: #2F2E2A;
}

.carousel-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
    user-select: none;
    background-color: #1f7758;
    border-radius: 25px;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.803) 0 0 0.5em 0;
}

.carousel-scroll{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: row;
    height: fit-content;
    width: calc(20em + 18vw);
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    border-radius: 25px;
    border: beige solid .2em;
}

.carousel-group{
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: scroll-left 25s linear infinite;
    margin-right: 1em;
}

.carousel{
    flex-shrink: 0;
    flex-grow: 0;
    width: calc(10em + 20vw);
    border-radius: 15px;
    box-shadow: 0 0 .5em 0 #00000044;
}

.carousel-container li{
    font-size: calc(2vh + 2.5vw);
    color: beige;
    text-shadow: #2f2e2a 0em 0.05em 0.3em;
}

.Documentation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    flex-wrap: nowrap;
    width: 100%; 
    user-select: none;
    background-color: #1f7758;
    border-radius: 25px;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.803) 0 0 0.5em 0;
}

.Documentation-scroll{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    border-radius: 25px;
    border: beige solid .2em;
}

.Documentation-group{
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: scroll-right 10s linear infinite;
    margin-right: 1em;
}

.Documentation{
    flex-shrink: 0;
    flex-grow: 0;
    width: calc(10em + 20vw);
    border-radius: 15px;
    box-shadow: 0 0 .5em 0 #00000044;
}

.Documentation-container li{
    font-size: calc(2vh + 2.5vw);
    color: beige;
    text-shadow: #2f2e2a 0em 0.05em 0.3em;
}

@keyframes  scroll-right{
    from{transform: translateX(-100%);}
    to{transform: translateX(0);}
}

@keyframes  scroll-down{
    from{transform: translatey(-100%);}
    to{transform: translatey(10%);}
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: #003e21d2;
}

.end-text{
    background-color: #2F2E2A;
    padding: 1vw;
    padding-right: 12vw;
    padding-left: 12vw;
    color: beige;
    font-size: 8vw;
    white-space: nowrap;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    height: 60vh;
    width: 100vw;
}

.contact-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: fit-content;
}

.contact-text{
    color: beige;
    font-size: 5vw;
    justify-self: center;
}

.icon-container{
    display: flex;
    gap: 5vw;
    height: 8vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.icon1, .icon2, .icon3{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: #2F2E2A;
    padding: .5em;
    height: fit-content;
    width: fit-content;
    border-radius: 15px;;
    cursor: pointer;
}

.icon1-li, .icon2-li, .icon3-li{
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    color: beige;
    list-style: none;
    align-content: center;
    transition: max-width 0.5s ease-out, padding-left 0.6s ease-out;
    margin-left: 0;
}

.icon1:hover .icon1-li{
    max-width: 15vw;
    padding-left: 1vw;
    align-content: center;
    background-color: #2F2E2A;
    border-radius: 15px;
}

.icon2:hover .icon2-li{
    max-width: 15vw;
    align-content: center;
    background-color: #2F2E2A;
    border-radius: 15px;
    margin: 0;
    padding-left: 1vw;
}

.icon3:hover .icon3-li{
    max-width: 35vw;
    align-content: center;
    background-color: #2F2E2A;
    border-radius: 15px;
    margin: 0;
    padding-left: 1vw;
}

.icon1 img, .icon2 img, .icon3 img{
    width: calc(1em + 3vw);
}